# Parsedmarc
PARSEDMARC_MSGRAPH_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PARSEDMARC_MSGRAPH_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PARSEDMARC_MSGRAPH_MAILBOX=dmarc-reports@example.com

# Grafana
GRAFANA_PORT=3000
GRAFANA_PASSWORD=changeme
